@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.stretched-image {
  width: 80%; /* Set the width to 100% to stretch horizontally */
  height: auto; /* Maintain aspect ratio */
}
