@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item a {
  color: black;
  border: none;
  margin: 10px;
}

.nav-item a:hover {
  color: #f43f5e;
  text-decoration: underline;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.stretched-image {
  width: 50%;
  height: auto;
}

.font-pacifico {
  font-family: "Pacifico";
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}
